@using LMS.Models.Customer
@model LMS.Models.Customer.CustomerRecord
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @Helper.LoadCustomJS("ViewsJS/Customer/JS_Customer.js", Url)
}

@*@{ Html.RenderPartial("_Update_CustomerRecord");}*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">   
            <div class="form-inline">
                <div class="form-group">
                    <label>Search by Borrower Name</label>
                    <input type="text" id="filter_searchkey" placeholder="Leave blank to view all" class="form-control" />
                </div>
                <button type="button" class="btn btn-default" id="cmdFilter">Filter Search</button>
                <a class="btn btn-info" onclick="AddCustomer()">Add New Customer</a>            
                @Html.TextBoxFor(model => model.Code, new { @id = "CustomerCode", @disabled = "disabled", @style = "visibility:hidden", @class = "form-control", @value = @Model.Code })
            </div>                                         
        </div>        
    </div>
    <div class="row">
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="panel-title">Borrower Information Sheet</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tbl-customer" class="table table-striped table-bordered dt-responsive no-wrap" cellspacing="0" width="100%">
                                <thead>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="DisplayCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="background-color:#ffffff;width:90%">
        <div class="modal-body" style="background-color:white">
            <div id="display-modal-body">
            </div>
        </div>

    </div>
</div>

<div id="UpdateCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="background-color:#ffffff;width:90%">
        <div class="modal-header">
            <button class="btn btn-info" id="dlgadd-add-btn">Save Customer Profile</button>
            <button class="btn btn-info" id="dlgadd-close-btn">Cancel Update</button>
        </div>
        <div class="modal-body" style="background-color:white">
            <div id="display-modal-body">
            </div>
        </div>                
    </div>
</div>
