@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Radiowealth Finance Corporation</h1>
    <p class="lead">Loans Management System</p>
    <p><a href="" class="btn btn-primary btn-lg">View Users Manual &raquo;</a></p>
</div>
