

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Collateral Type</th>
                <th>Description</th>
                <th>Usage</th>
                <th>Details</th>
                <th>MLV</th>
                <th>Appraised</th>
                <th>Loan Value</th>
            </tr>
        </thead>
    </table>
</div>