
@{
    ViewBag.Title = "ApplicationMainMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="animated flipInY col-md-3" style="padding: 2%;">
        <div class="alert alert-success" style="height: 250px;">
            <center>
                <div class="btn btn-info btn-circle btn-xl"  onclick="window.location = '../Application/CustomerList';">
                    <i class="glyphicon glyphicon-edit" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                </div>
                <h2 style="min-height: 72px;">New Loan Application</h2>
                <p>Search Borrower &amp; Create New Loan Application</p>
            </center>
        </div>
       
    </div>
    <div class="animated flipInY col-md-3" style="padding: 2%; height: 10%; !important">
        <div class="alert alert-success" style="height: 250px;">
            <center>
                <div class="btn btn-info btn-circle btn-xl"  onclick="window.location = '../Application/List/31';">
                    <i class="glyphicon glyphicon-check" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                </div>
                <h2 style="min-height: 72px;"  onclick="window.location = '../Application/List/31';">For Credit Investigation</h2>
                <p>Search by Borrower or Loan Applcation No.</p>
            </center>
        </div>

    </div>
    <div class="animated flipInY col-md-3" style="padding: 2%; height: 10%; !important">
        <div class="alert alert-success" style="height: 250px;">
            <center>
                <div class="btn btn-info btn-circle btn-xl"  onclick="window.location = '../Application/List/[Approval]';">
                    <i class="glyphicon glyphicon-thumbs-up" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                </div>
                <h2 style="min-height: 72px;" onclick="window.location = '../Application/List/[Approval]';">Loans Applications for Approval</h2>
                <p>Search by Borrower or Loan Applcation No.</p>
            </center>
        </div>

    </div>

    <div class="animated flipInY col-md-3" style="padding: 2%; height: 10%; !important">
        <div class="alert alert-success" style="height: 250px;">
            <center>
                <div class="btn btn-info btn-circle btn-xl"  onclick="window.location = '../Application/List/[All]';">
                    <i class="glyphicon glyphicon-list" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                </div>
                <h2 style="min-height: 72px;"  onclick="window.location = '../Application/List/[All]';">List of All Loan Applications</h2>
                <p>Search by Borrower or Loan Applcation No.</p>
            </center>
        </div>

    </div>

</div>

