
@{
    ViewBag.Title = "LibraryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="panel-title"><i class="glyphicon glyphicon-globe"></i>&nbsp;Library</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=agent_type|agent%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Agent Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=amount_type|amount%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                                        </div>
                                        <br /><br />
                                        <h4>Amount Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=application_type|application%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Application Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=bank_account_type|bank_account%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Bank Account Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=borrower_group|borrower%20group';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Borrower Group</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=check_voucher_type|check%20voucher%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Check Voucher Type</h4>
                                    </center>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Civil_Status|Civil%20Status';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Civil Status</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=cmdm_account_type|cmdm_account%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>CMDM Account Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=cmdm_adjustment_type|cmdm%20adjustment%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>CMDM Adjustment Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=cmdm_entry_type|cmdm%20entry%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>CMDM Entry Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=collateral_group|collateral%20group';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Collateral Group</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=commission_level|commission%20level';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Commission Level</h4>
                                    </center>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Company_Type|Company%20Type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Company Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Gender|Gender';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Gender</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=gl_account|gl%20account';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>GL Account</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=incentive_release_mode|incentive%20release%20mode';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Incentive Release Mode</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Industry|Industry';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Industry</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Lead_Source|Lead%20Source';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Lead Source</h4>
                                    </center>
                                </div>
                            </div>
                        </div>                
                        <div class="row">
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=ledger_type|ledger%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Ledger Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=machine_validation_type|machine%20validation%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Validation Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=official_receipt_type|official%20receipt%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Official Receipt Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=payment_type|payment%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Payment Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=realization_type|realization%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Realization Type</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=remedial_type|remedial%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Remedial Type</h4>
                                    </center>
                                </div>
                            </div>
                        </div>        
                        <div class="row">
                            <div class="animated flipInY col-md-2" style="padding: 2%;">
                                <div class="alert alert-success" style="height: 170px;">
                                    <center>
                                        <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=waiver_type|waiver%20type';">
                                            <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                        </div>
                                        <br /><br />
                                        <h4>Waiver Type</h4>
                                    </center>
                                </div>
                            </div>                            
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

