@model LMS.Models.DevelopmentTools.LibraryComponentModel
@{    
    
}
   
@section Scripts
{    
    @Styles.Render("~/Content/DataTableCSS")    
    @Scripts.Render("~/Content/DataTableJS")
    @Helper.LoadCustomJS("ViewsJS/Library/JS_LibraryComponent.js", Url)
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>@Model.ComponentName</h2>
        <table id="tbl-component" class="table table-bordered">
            <thead>
            </thead>
        </table>
    </div>
</div>

<div id="dlgAdd">
    
</div>
