
@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i>&nbsp;PIS</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">                                
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=borrower_Type|borrower%20Type';">
                                                <i class="glyphicon glyphicon-user" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4> Borrower Type</h4>                                                
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Nature_of_business|Nature%20of%20business';">
                                                <i class="glyphicon glyphicon-user" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                                            </div>
                                            <br /><br />
                                            <h4>Business Type</h4>
                                        </center>
                                    </div>
                                </div>                                   
                            </div>
                            

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="panel-title"><i class="glyphicon glyphicon-book"></i>&nbsp;Loans</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=Loan_Type|Loan%20Type';">
                                                <i class="glyphicon glyphicon-book" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Loan Type</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=loan_set|loan%20set';">
                                                <i class="glyphicon glyphicon-book" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Loan Set</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=loan_terms|loan%20terms';">
                                                <i class="glyphicon glyphicon-book" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Loan Terms</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=support_document|support%20document';">
                                                <i class="glyphicon glyphicon-book" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Support Document</h4>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Collateral</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=collateral_type|collateral%20type';">
                                                <i class="glyphicon glyphicon-list-alt" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Collateral Type</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=collateral_usage|collateral%20usage';">
                                                <i class="glyphicon glyphicon-list-alt" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                                            </div>
                                            <br /><br />
                                            <h4>Collateral Usage</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=color|Collateral%20color';">
                                                <i class="glyphicon glyphicon-list-alt" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Collateral Color</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=fuel_type|fuel%20type';">
                                                <i class="glyphicon glyphicon-list-alt" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Fuel Type</h4>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="panel-title"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;Accounting</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=payment_mode|payment%20mode';">
                                                <i class="glyphicon glyphicon-folder-open" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Payment Mode</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=bank|bank';">
                                                <i class="glyphicon glyphicon-folder-open" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Bank</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=expense_type|expense%20type';">
                                                <i class="glyphicon glyphicon-folder-open" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Expense Type</h4>
                                        </center>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="panel-title"><i class="glyphicon glyphicon-globe"></i>&nbsp;Organization</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=support_group|support%20group';">
                                                <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Support Group</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=district_group|district%20group';">
                                                <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>

                                            </div>
                                            <br /><br />
                                            <h4>District Group</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=regional_office|regional%20office';">
                                                <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Regional Office</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=district|district';">
                                                <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>District</h4>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="animated flipInY col-md-3" style="padding: 2%;">
                                    <div class="alert alert-success" style="height: 150px;">
                                        <center>
                                            <div class="btn btn-info btn-circle btn-xl" onclick="window.location = 'Library?ComponentName=organization|branch';">
                                                <i class="glyphicon glyphicon-globe" style="vertical-align:middle; text-align: center; height: 2%;"></i>
                                            </div>
                                            <br /><br />
                                            <h4>Branch</h4>
                                        </center>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

</div>

